<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cool Talk stacks</title>


</head>
<body>

  <form action = "http://localhost:5000/stack" method="post">
     <p>Enter Name:</p>
     <p><input type = "User" name = "nm" /></p>
     <p>Enter Topic:</p>
     <p><input type = "Topic" name = "tp" /></p>
     <p>Enter Description:</p>
     <p><input type = "Description" name = "ds" /></p>
     <p><input type = "submit" value = "Push" /></p>
  </form>

  <form action = "http://localhost:5000/stack" method="get">
     <p><input type = "submit" value = "Pop" /></p>
  </form>

</body>
</html>
